#canvasTest

.inspections.inspections-msg#inspectionsMsg{:"data-bind"=>"css: inspections().showEmptyMsg()"}
    .empty-msg
        %h2.title Welcome to TNA
        %p 
            %strong There are no inspections created. 
        %p You can create your first pressing the "+" button in the upper-right corner of the screen.
            
.inspections{:"data-bind"=>"css: inspections().showList()"}
    %ul#inspectionsList{:"data-bind"=>"foreach: inspections"}
        %li.inspection{:"data-bind"=>"tapEnd: $parent.open, css: { draft:status=='draft', closed:status=='closed', sent:status=='sent' }"}
            %h2.name{:"data-bind"=>"text: customerName"}
            %p.status{:"data-bind"=>"text: status"}
            .delete{:"data-bind"=>"tapEnd: $parent.destroy"}

 