.moo-ui-modal-container

    .mod-modal-header
        %a.button.button-cancel#mod-login-cancel Cancel
        %a.button.button-action#mod-login-send Login
        
    .mod-login-form
        %input#mod-login-username{:type=>"text",:value=>"e-mail"}
        %input#mod-login-password{:type=>"password"}
        
    // .mod-modal-footer
