<div class='moo-ui-modal-container'>
  <div class='mod-modal-header'>
    <a class='button button-cancel' id='mod-reply-cancel'>Cancel</a>
    <a class='button button-action' id='mod-reply-send'>Reply</a>
  </div>
  <div class='mod-reply-textarea'>
    <textarea id='mod-reply-textarea'></textarea>
  </div>
  <div class='mod-modal-footer'>
    <ul class='mod-reply-msgoptions'>
      <li class='mod-reply-options-picture'>
        <a href='#mod-reply-picture' id='mod-reply-picture'>
          <span>Agregar imagen</span>
        </a>
      </li>
      <!-- / %li.mod-reply-options-video -->
      <!-- /    %a#mod-reply-video{:href=>"#mod-reply-video"} -->
      <!-- /        %span Agregar video -->
      <!-- / %li.mod-reply-options-geo -->
      <!-- /    %a{:href=>"#mod-reply-geo"} -->
    </ul>
    <!-- / %ul.mod-reply-info -->
    <!-- /    %li.mod-reply-info#mod-reply-info -->
    <!-- /        %span 1 attach -->
  </div>
</div>
