!!! 5
%head
    %title Sotsiaal
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    
    %script{:src=>"mootor/js/mootor.js",:type=>"text/javascript"}
    %script{:src=>"js/lib/knockout-2.2.0.js",:type=>"text/javascript"}

    %script{:src=>"mootor/js/plugins/nav.js",:type=>"text/javascript"}
    %script{:src=>"mootor/js/plugins/app.js",:type=>"text/javascript"}
    %script{:src=>"mootor/js/plugins/ui.js",:type=>"text/javascript"}
    %script{:src=>"js/mootor-mouse.js",:type=>"text/javascript"}

    %script{:src=>"js/app.js",:type=>"text/javascript"}
    %script{:src=>"js/utils.js",:type=>"text/javascript"}
    %script{:src=>"js/models.js",:type=>"text/javascript"}

%body.main

    %header.moo-header
        .moo-header-wrapper
            %nav
                %a#navBack.moo-nav-back{:href=>"#moo-nav-back"} Back
                %a#navSearch.moo-nav.moo-nav-search{:href=>"#moo-nav-search"} 
                    %span Search
    
            %nav.app
                %a#navCreate.moo-nav.moo-nav-create{:href=>"#story-create"}
                    %span Create
                %a#navPost.moo-nav.moo-nav-post{:href=>"", :style=>"display:none"}
                    %span Post
    
            %h1 Sotsiaal

    #main