.story-list.story-list-msg.story-list-empty#storyEmptyMsg{:"data-bind"=>"css: story().showEmptyMsg()"}
    .empty-msg
        %h2.title Welcome to Sotsiaal
        %p 
            %strong There are no stories created. 
        %p You can create your first pressing the button in the upper-right corner of the screen.
            
.story-list{:"data-bind"=>"css: story().showList()"}
    %ul#storyList{:"data-bind"=>"foreach: story"}
        %li.story{:"data-bind"=>"tapEnd: $parent.go"}
            %h2.title{:"data-bind"=>"text: title"}
            -# %p.desc{:"data-bind"=>"text: description"}
            .pop{:"data-bind"=>"text: pop"}
            .info
                %span.date
                    %span{:"data-bind"=>"text: date"}
                %span.comments
                    %span{:"data-bind"=>"text: comments"}
                    comments
                %span.user
                    by 
                    %strong{:"data-bind"=>"text: user.username"}
                %span.category
                    to
                    %span{:"data-bind"=>"text: category.title"}
                    