.mod-sidebar
    %ul.mod-sidebar-topbar
        %li
            %a#mod-sidebar-topbar-nav1{:href=>"#topics"}
                %span
                    Topics
        %li
            %a#mod-sidebar-topbar-nav2{:href=>"#my-account"}
                %span
                    My account
                    
    %ul.mod-sidebar-navbar#mod-sidebar-navbar-myaccount{:style=>"display:none"}
        %li
            %a{:href=>"#published-stories"}
                %span
                    Published stories
        %li
            %a{:href=>"#voted-stories"}
                %span
                    Voted stories
        %li
            %a{:href=>"#following"}
                %span
                    Following
        %li
            %a{:href=>"#followers"}
                %span
                    Followers
        %li
            %a{:href=>"#profile"}
                %span
                    Profile
        %li
            %a{:href=>"#options"}
                %span
                    Options
                    
    %ul#mod-sidebar-navbar-category.mod-sidebar-navbar{:"data-bind"=>"foreach: category"}
        %li
            %a{:href=>"#category",:"data-bind"=>"tapEnd: $parent.go"}
                %span{:"data-bind"=>"text: title"}
