.mod-sidebar
    %ul.mod-sidebar-topbar
        %li
            %a{:href=>"#published-stories"}
                %span
                    Topics
        %li
            %a{:href=>"#my-account"}
                %span
                    My account
                    
    %ul.mod-sidebar-navbar
        %li
            %a{:href=>"#published-stories"}
                %span
                    Published stories
        %li
            %a{:href=>"#voted-stories"}
                %span
                    Voted stories
        %li
            %a{:href=>"#following"}
                %span
                    Following
        %li
            %a{:href=>"#followers"}
                %span
                    Followers
        %li
            %a{:href=>"#profile"}
                %span
                    Profile
        %li
            %a{:href=>"#options"}
                %span
                    Options
                    