.mod-story-create
    .field
        %input#mod-story-create-title.mod-story-create-title{:type=>"text", :value=>"The title"}
    .field
        %textarea#mod-story-create-textarea.mod-story-create-textarea
            The content
    
    .mod-story-create-footer
    
        %ul.mod-story-create-options
            %li.mod-story-create-picture
                %a#mod-story-create-picture{:href=>"#mod-story-create-picture"}
                    %span Agregar imagen

    