<div class='mod-story-create'>
  <div class='field'>
    <input class='mod-story-create-title' id='mod-story-create-title' placeholder='The title' type='text'>
  </div>
  <div class='field'>
    <textarea class='mod-story-create-textarea' id='mod-story-create-textarea' placeholder='The content'></textarea>
  </div>
<!--  <div class='mod-story-create-footer'>
    <ul class='mod-story-create-options'>
      <li class='mod-story-create-picture'>
        <a href='#mod-story-create-picture' id='mod-story-create-picture'>
          <span>Agregar imagen</span>
        </a>
      </li>
    </ul>
  </div>-->
</div>
<div class="button-create-story-container">
<button id="button-create-story" class="m-button m-button-success">Publicar</a>
</div>