.moo-ui-modal-container

    .mod-modal-header
        %a.button.button-cancel#mod-signup-cancel Cancel
        %a.button.button-cancel#mod-signup-login.mod-ui-modal-3-button Login
        %a.button.button-action#mod-signup-send Signup
        
    .mod-login-form
        %input#mod-signup-username{:type=>"text",:placeholder=>"username"}
        %input#mod-signup-email{:type=>"text",:placeholder=>"e-mail"}
        %input#mod-signup-password{:type=>"password", :placeholder=>"password"}
        
    // .mod-modal-footer
