.moo-ui-modal-container

    .mod-modal-header
        %a.button.button-cancel#mod-my-account-cancel Cancel
        %a.button.button-cancel#mod-my-account-send Save
        
    .mod-my-account-form
        %input#mod-my-account-username{:type=>"text",:placeholder=>"username"}
        %input#mod-my-account-email{:type=>"text",:placeholder=>"e-mail"}
        %input#mod-my-account-password{:type=>"password", :placeholder=>"password"}
        
    // .mod-modal-footer
