%nav.mod-topbar
    %h2 Top
    .mod-topbar-menu
        %a#mod-topbar-now.mod-topbar-active{:title=>"Now", :href=>"#"} Now
        %a#mod-topbar-7d{:title=>"7d", :href=>"#"} 7d
        %a#mod-topbar-30d{:title=>"30d", :href=>"#"} 30d
        %a#mod-topbar-365d{:title=>"365d", :href=>"#"} 365d
        %a#mod-topbar-ever{:title=>"Ever", :href=>"#"} Ever
    