%nav.mod-topbar
    %h2 Top
    .mod-topbar-menu
        %a.mod-topbar-active{:title=>"Now", :href=>"#"} Now
        %a{:title=>"7d", :href=>"#"} 7d
        %a{:title=>"30d", :href=>"#"} 30d
        %a{:title=>"365d", :href=>"#"} 365d
        %a{:title=>"Ever", :href=>"#"} Ever
    