@mixin mod-reply-textarea {
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.75em;        
    border: none;
}


@mixin mod-reply(
    $class: ".mod-reply-textarea"
){
    #{$class} {
        width: 100%;
        height: 200px;
        border: none;
        
        textarea {
            border-radius: .5em;
            @include mod-reply-textarea;
        }
    }
}

@include mod-reply();

.mod-reply-options-picture > a {
     text-indent: -9999px;
     @include _mootor-sprite("mod-reply-options-picture");
     display: block;
     background-repeat: no-repeat;
     width: 32px;
     height: 32px;
     position: absolute;
     left: 10px;
     margin-top: 8px;
     opacity: .4;
     &.mod-reply-options-picture-active {
         opacity: .75;
     }
}


// FIXME CHECK

.moo-ui-image-container .moo-ui-delete,
.mod-reply-options-picture .moo-overlay {
    display: none;
}

