.mod-story-create {
    @include default-box;
}

@mixin dashed-box() {
    width: 100%;
    border: dashed 1px #ddd;
    padding: 15px;
    height: 60px;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;    
}

.mod-story-create-title {
    @include dashed-box();
}

.mod-story-create-textarea {
    @include dashed-box();
    height: 250px;
    color: #999;
}

.mod-story-create-picture > a {
    @include icon-picture();
    left: 30px;
    margin-top: 0;
}

.mod-story-create-footer {
    height: 30px;
}