@import "mootor.ui.lists";

@mixin pop($view-name: "") {

        @if $view-name == "story" {
            top: 2em;
            right: .65em;
            font-size: 3em;
            @include style-inset;
            padding: 0.7em 0.4em;
            font-weight: 500;
            color: #aaa;
        } @else {
            font-weight: 100;
            color: $color-text-main;
            top: .65em;
            right: .65em;            
            font-size: 2em;
            padding: 0.6em 0.4em;
        }

        text-align: center;
        background: #f8f8f8;
        border-radius: 10em;
        display: block;
        width: 2.5em;
        height: 2.5em;
        letter-spacing: -2pt;
        position: absolute;         
}

@mixin icon($icon-name) {
    &::before {
        content: "";
        line-height: 15px;
        position: absolute;
        margin-top: 3px;
        @include _mootor-sprite($icon-name);
    }      
}

// Story list

.story-list {
    
    opacity: 0;
    height: 0;
    position: absolute;
    margin: 1.1em 0;
    
    ul {
        @if $context == ios {
            @include list(
                $rounded:   true, 
                $shadows:   true,
                $item-margin: 0 $default-space $default-space
            );
        } @else {
            @include list(
                $rounded:   true,
                $item-margin: 0 $default-space $default-space
            );            
        }
        
        li {
            min-height: 70px;
        }
        
        h2,
        .info {
            width: 80%;
        }

        h2 {
            margin-bottom: $default-space / 2;
        }
        
        .info {
            font-size: 1.5em;
            margin: .75em 0 0;
            font-weight: 100;
            color: $color-text-main;
        }
        
        .pop {
            @include pop
        }
        
        .date {
            span {
                font-weight: bold;
            }
        }
        
        .user {
            margin-left: .5em;
            strong {
                padding-left: 1.3em;
                font-weight: bold;
            }
            @include icon(mod-story-user);
        }      

        .comments {
            span {
                font-weight: bold;
                padding-left: 1.3em;
            }
            @include icon(mod-story-comments);
         
        }
    }
    
    &.visible {
        opacity: 1;
        height: auto;
        position: relative;
    }
}

.story-wrapper {
    @include style-box("story");

    .user {
        float: left;
        font-size: 2.3em;
        color: #bbb;
        margin: .3em;
        span {
            font-weight: 900;
            line-height: 3em;
            letter-spacing: -1pt; 
            padding-top: 1em;
            &:first-child {
                padding-left: 1.5em;
            }
        } 
        .category {
            font-weight: 200;
        }
    }
    
    .story-content {
        clear: both;
        .picture img {
            margin: 1em 0;
            width: 100%;
        }
        .description {
            width: 98%;
            margin: 0;
            @include style-font-readeable;            
        }
    }

}
