@import "mootor.ui.lists";

.title-comments {
    background: url(../img/default/nav-panels-panel.png);
    font-weight: 200;
    color: #aaa;
    font-size: 2em;
    text-align: left;
    margin: $default-space 0 $default-space $default-space/3;
    span {
        padding-right: .2em;
    }
    .title-comments-count {
        font-weight: 900;
    }
    &:after {
        content: "";
        width: 75%;
        height: 0;
        padding: .075em;
        position: absolute;
        background: rgba(0,0,0,.05);
        margin-top: .75em;
    }
}

// Comment list

.mod-comments {   
    ul {

        @if $context == ios {
            @include list(
                $item-li: false
            );
        } @else {
            @include list(
                $item-li: false
            );            
        }           

        .mod-comments-comment {
        
            margin-left: 1em;
            font-size: 1.8em;

            @if $context == ios {
                @include list-item(
                    $rounded:   true, 
                    $shadows:   true,
                    $item-margin: 0 $default-space/3.5 $default-space $default-space * 3.5
                );
            } @else {
                @include list-item(
                    $rounded:   true,
                    $item-margin: 0 $default-space/3.5 $default-space $default-space * 3.5
                );            
            }           
        }

        .mod-comments-details {
            margin-top: $default-space/2;
            color: #ddd;
        }

        .mod-comments-pop-sign, .mod-comments-pop {
            font-weight: 900;
        }
        
    }
}

.mod-comments-writehere {
    color: #999;   
}

.mod-comment-avatar {
    .user-avatar img {
        width: 6em;
    }
    &:after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        @include transform(rotate(45deg));
        left: 10.2em;
        margin-top: 2.5em;
        background: #ccc;
    }    
}
