.mod-topbar {
    
    padding-bottom: .8em;
    overflow: hidden;
    width: 100%;
    
    font-weight: 400;
 
    h2 {
        width: 25%;                
        text-align: left;
        font-weight: 900;
        padding: 0.5em 0 0 1em;
    }
    a {
        text-align: center;
        width: 20%;        
        padding: 0.5em;
    }
    .mod-topbar-menu {
        width: 75%;    
    }   

    h2, a, .mod-topbar-menu  {
        display: block;
        float: left;
        color: $color-text-main;
    }

    h2, a {
        margin: 1em 0 0 0;
        letter-spacing: -0.1em;

        @media screen and ( $media-query-0 ) {
            font-size: 1.7em;
        }
        @media screen and ( $media-query-1 ) {
            font-size: 2em;
        }    
        @media screen and ( $media-query-2 ) {
            font-size: 2.4em;
        } 
    }

    .mod-topbar-active {
        font-weight: 900;
        border-radius: 2em;
        @include style-inset;
    }

    @if $context == ios {
        h2, a {
            text-shadow: #fff 1px 1px;
        }
    }
        
}