@import "mootor.ui.lists";

@mixin icon($icon-name) {
    &::before {
        content: "";
        line-height: 15px;
        position: absolute;
        margin-top: 3px;
        @include _mootor-sprite($icon-name);
    }      
}

// Story list

.story-list {
    
    opacity: 0;
    height: 0;
    position: absolute;
    margin: 1.1em 0;
    
    ul {
        @if $context == ios {
            @include list(
                $rounded:   true, 
                $shadows:   true,
                $item-margin: 0 1.5em 1.5em
            );
        } @else {
            @include list(
                $rounded:   true,
                $item-margin: 0 1.5em 1.5em
            );            
        }
        
        li {
            min-height: 70px;
        }
        
        h2,
        .info {
            width: 80%;
        }

        h2 {
            margin-bottom: .75em;
        }
        
        .info {
            font-size: 1.5em;
            margin: .75em 0 0;
            font-weight: 100;
            color: $color-text-main;
        }
        
        .pop {
            text-align: center;
            padding: 0.6em 0.4em;
            background: #f8f8f8;
            font-weight: 100;
            border-radius: 10em;
            display: block;
            color: $color-text-main;
            font-size: 2em;
            width: 2.5em;
            height: 2.5em;
            top: .65em;
            right: .65em;
            letter-spacing: -2pt;
            position: absolute;         
        }
        
        .date {
            span {
                font-weight: bold;
            }
        }
        
        .user {
            margin-left: .5em;
            strong {
                padding-left: 1.3em;
                font-weight: bold;
            }
            @include icon(mod-story-user);
        }      

        .comments {
            span {
                font-weight: bold;
                padding-left: 1.3em;
            }
            @include icon(mod-story-comments);
         
        }
    }
    
    &.visible {
        opacity: 1;
        height: auto;
        position: relative;
    }
}


