@mixin mod-modal(
    $background: #fff,
    $size: 'L',    
    $border-radius: 1em,
    $shadow: true,
    $shadow-color: rgba(0,0,0,.3),
    $class: ".mod-modal"
){
    #{$class} {
        position: absolute;
        top:  20%;
        z-index: 1500;
        height: auto;
        opacity: 1;
    
        background: $background;
        border-radius: $border-radius;
        padding-bottom: 2em;
        
        @if $shadow == true {
            @include box-shadow(1px 1px 5px 2px $shadow-color);    
        }
        @if $size == 'L' {
            left: 12.5%;
            width: 75%;
        }
    }

    @include mod-modal-header(
        $class: $class + "-header",
        $border-radius: $border-radius
    );

    @include mod-modal-footer(
        $class: $class + "-footer"
    );
}

@mixin mod-modal-header(
    $background: "default",
    $border-radius: 1em,
    $shadow: true,
    $shadow-color: rgba(0,0,0,.3),
    $class: ".mod-modal-header",
    $buttons: 2
) {
    #{$class} {
        width: 100%;
        height: 50px;
        border-radius: $border-radius $border-radius 0 0;
        margin-bottom: 5px;
        @if $shadow == true {
            @include box-shadow(1px 1px 5px 2px $shadow-color);    
        }
        @if $background == "default" {
            @include background(linear-gradient(#fff,#f1f1f1));
        }
        
        @if $buttons == 2 {
            .button {
                position: absolute;
                &:first-child {
                   left: 6px; 
                }    
                &:last-child {
                   right: 6px; 
                }    
                top: 6px;
            }            
        }
        
        // FIXME CHECK
        .mod-ui-modal-3-button {
            left: 104px;  
        }
    }
}


@mixin mod-modal-footer(
    $background: "default",
    $border-radius: 1em,
    $border-color: #ddd,
    $class: ".mod-modal-footer"
) {
    #{$class} {
        width: 100%;
        height: 50px;
        border-radius: 0 0 $border-radius $border-radius;
        border-top: 1px solid $border-color;
        @if $background == "default" {
            background: #fff;
        }
    }
}

@include mod-modal();

