.story-view {

    padding: 0 $default-space;

    h2 {
        @include title;
        width: 80%;
        margin-top: .5em;
        margin-bottom: .5em;
        min-height: 2.5em;
    }
    
    .pop {
        @include pop("story")
    }

    
}

